.about-container {
  padding: 2em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 70%;
  margin: 2em 0;
  gap: 3em;
}

.about-text {
  max-width: 50%;
  z-index: 99;
}

.about-img {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0px 15px 40px -10px;
}
