.booking-title {
  background-color: #495e57;
  padding: 2em 6em;
}

.book-form {
  padding: 4em 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
select,
.form-btn {
  max-width: 50%;
  padding: 1em;
  margin: 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  background-color: #f4ce14;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 17px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.confirm-text {
  background-color: #495e57;
  width: 100%;
  text-align: center;
  color: white;
  padding: 3em 6em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 1em;
  margin: 2em;
}

button {
}

.book-container {
  width: 100%;
}
