.foot {
  display: flex;
  flex-direction: row;
  background-color: #495e57;
  padding: 4em;
  justify-content: space-between;
  align-items: flex-start;
}

.lil a {
  color: black;
  font-family: "karla", sans-serif;
  font-size: 1.2em;
  font-weight: medium;
}

.lil a:hover {
  color: #f4ce14;
}

.lil:nth-child(2) {
  margin-top: 1em;
}
