.green-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  gap: 2rem;
  background-color: #495e57;
  padding: 0 2rem;
}

.btn {
  background-color: #f4ce14;
  padding: 1em 2em;
  margin: 1.5em 0;
  border: none;
  color: #333333;
  border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
  background-color: #f4be12;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.wide {
  color: white;
  max-width: 95%;
  max-height: 80%;
  overflow: hidden;
}

.img-1 {
  border-radius: 20px;
  width: 15rem;
  height: 20rem;
  margin: 2em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.div-text {
  margin-top: 1em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-width: 20vw;
  min-width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.white {
  color: white;
}
