.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: #495e57;
}

.btn {
  border-radius: 8px;
  background-color: #f4ce14;
  padding: 12px;
  margin: 10px;
}

.btn:hover {
  cursor: pointer;
}
