* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 4em;
  font-family: "Markazi Text", sans-serif;
  font-weight: medium;
  line-height: 0.8;
}

.subtitle {
  font-size: 2.5em;
  font-family: "Markazi Text", sans-serif;
  font-weight: regular;
}

.card-title {
  font-size: 1.2em;
  font-family: "karla", sans-serif;
  font-weight: bold;
}

.lead-text {
  font-family: "karla", sans-serif;
  font-size: 1.2em;
  font-weight: medium;
}

.section-title {
  font-family: "karla", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

.specials {
  font-family: "karla", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.paragraph-text {
  font-family: "karla", sans-serif;
  font-size: 1em;
  font-weight: regular;
}

.highlight {
  font-family: "karla", sans-serif;
  font-size: 1em;
  font-weight: medium;
}

.primary-green {
  color: #495e57;
}

.primary-yellow {
  color: #f4ce14;
}

.orange {
  color: #ee9972;
}

.light-orange {
  color: #fbdabb;
}

.gray {
  color: #edefee;
}

.dark {
  color: #333333;
}
