* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 64px;
  font-family: "karla", sans-serif;
  font-weight: bold;
}

.card-title {
  font-size: 18px;
  font-family: "karla", sans-serif;
  font-weight: bold;
}

.primary-green {
  color: #495e57;
}

.primary-yellow {
  color: #f4ce14;
}

.orange {
  color: #ee9972;
}

.light-orange {
  color: #fbdabb;
}

.gray {
  color: EDEFEE;
}

.dark {
  color: #333333;
}
